{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>

        <!-- 左侧：网站名字 -->
        <div class="masthead-left">
          <a href="{{ base_path }}/" class="masthead__menu-item masthead__menu-item--lg">{{ site.title }}</a>
        </div>

        <!-- 右侧：菜单 + 主题切换 -->
        <div class="masthead-right">
          {% assign sections = "Publications,Awards,Services,CV,Blog" | split: "," %}
          {% for link in site.data.navigation.main %}
            {% if sections contains link.title %}
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = base_path %}
              {% endif %}
              <a class="masthead__menu-item" href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            {% endif %}
          {% endfor %}

          <!-- 主题切换按钮 -->
          <a id="theme-toggle" class="masthead__menu-item" role="button">
            <i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i>
          </a>
        </div>

      </nav>
    </div>
  </div>
</div>
