.masthead__menu {
  display: flex;
  justify-content: space-between; /* 左右分开 */
  align-items: center;
  width: 100%;

  .masthead-left {
    display: flex;
    align-items: center;
  }

  .masthead-right {
    display: flex;
    align-items: center;
    gap: 1rem;       // 菜单间距
    white-space: nowrap; // 防止换行
  }

  .masthead__menu-item {
    display: inline-block;
    white-space: nowrap;
    padding: 0.5em 0;
  }

  .masthead__menu-item--lg {
    font-weight: 700;
  }
}

